/* @include ("../mocha.scss"); */

.ram {
    color: $mauve;
    background-color: $crust;
    .ram-icon {
        font-family: "Fira Code";
        margin: 0.2em;
        font-size: 25px;
    }
}



